@model CECS475LabAssignment8.Models.Professor
@{
    Layout = "_Layout";
}

<td>
    @Html.DisplayFor(professor => Model.ProfessorID)

    @Html.DisplayFor(professor => Model.Name)

</td>

@foreach (var theReview in Model.ReviewCollection)
{

    <ul>

        <li>
            @Html.DisplayFor(review => theReview.Content)
        </li>
        <li>
            @Html.DisplayFor(review => theReview.Author)

        </li>

        <li>
            @Html.DisplayFor(review => theReview.Posted)
        <li>


    </ul>
}




   

